$title-color: #ffffff;
$background-color: #2C2F2D;
$title-shadow-color: rgba(150, 150, 150, 0.4);

$font-path: "../data/fonts/minecraft-evenings.regular.otf";

/** Fonts **/

@font-face {
    font-family: minecraftEvenings;
    src: url($font-path);
}

/** Main **/

body {
    background: $background-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title {
    color: $title-color;
    position: absolute;
    font-family: minecraftEvenings;
    text-shadow: 0 8px 6px $title-shadow-color;
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    top: 42%;
}

.attribution {
    position: absolute;
    bottom: 25px;
    width: 100%;
    border: 0px;
}
