html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin-top: 75px;
    background-color: #2C2F2D;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 40px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 25px;
    color: white;
    margin-top: 15px;
}

h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    color: white;
}

article {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #9ABFD6;
    transition: 0.2s;
}

a:hover {
    color: #AECFE6;
}

header {
    background-color: #558C2B;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    transition: 0.5s;
}

header a:hover {
    background-color: #436E22;
    color: white;
}

header a.active {
    background-color: #2F4D18;
    color: white;
}

section {
    margin-top: 50px;
}

.no_margin {
    margin: 0px 0px 0px 0px !important;
}

img.guide {
    max-width: 60%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 15px 0px 0px 0px;
}

div.contents {
    color: black;
    padding: 25px;
    background-color: #373B38;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

div.contents li {
    margin-top: 5px;
}

img.gallery {
    width: 100%;
    object-fit: contain;
}

img.gallery-small {
    width: 60%;
    object-fit: contain;
}

body.index {
    background: url(./images/gallery/refabricated/pink-forest-mountain.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    overflow-y: hidden;
}

div.gallery {
    margin-bottom: 15px;
}

div.gallery span {
    display: block;
}

.minecraft-font {
    font-family: 'Minecraft Evenings', sans-serif;
}

.black {
    color: black;
}