.gallery-img span {
  margin-bottom: 15px;
  display: block;
}

img.view-limit {
  max-width: 90vw;
  max-height: 90vh;
}

img.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}