/** Fonts **/
@font-face {
  font-family: minecraftEvenings;
  src: url("../data/fonts/minecraft-evenings.regular.otf");
}

/** Main **/
body {
  background: #2C2F2D;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.title {
  color: #ffffff;
  position: absolute;
  font-family: minecraftEvenings;
  text-shadow: 0 8px 6px rgba(150, 150, 150, 0.4);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 42%;
}

.attribution {
  position: absolute;
  bottom: 25px;
  width: 100%;
  border: 0px;
}
